<% @page_title = "New Employee" %>

<%= link_to("<< Back to Employees", employees_path) %>

<div class="employees new">
  <h2>Create Employee</h2>

  <%= form_for(@employee, :url => {:action => 'create'}, :role => "form") do |f| %>
  	<%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="container">
  <%= submit_tag("Create Employee", :class => "btn btn-md btn-primary form-buttons") %>
  </div>
  
  <% end %>
</div>
